<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../liquid_core/partials/struct.OnDemandCompiler.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../liquid_core/partials/struct.OnDemandCompiler.html">../../../liquid_core/partials/struct.OnDemandCompiler.html</a>...</p>
    <script>location.replace("../../../liquid_core/partials/struct.OnDemandCompiler.html" + location.search + location.hash);</script>
</body>
</html>